body{
    font-family: 'Nunito', sans-serif;
    margin-top: 10px;
}
h4{
    font-family: 'Roboto Slab', serif;
}
* {
    box-sizing: border-box;
  }

  .delani1{
    color: white;
    background-image: url(../assets/backgrounds/h_img.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    height: 600px;
    padding:220px;  
}
#delani2{
    text-align: center;
    }

    #delani3{
        color: white;
        background-image: url(../assets/backgrounds/s_image.jpg);
        background-size:100% 100%;
        background-repeat: no-repeat;
        text-align: center;
        padding:50px;
        object-fit: cover;
        margin: auto;
    }
    #delani5{
        color: white;
        background-image: url(../assets/backgrounds/c_image.jpg);
        background-size:100% 100%;
        background-repeat: no-repeat;
        text-align: center;
        padding:80px;
    }

    #delani4{
        text-align: center;
    }
    .clickable-a{
        display: none;
    }
    .clickable-b{
        display: none;
    }
    .clickable-c{
        display: none;
    }
    #portfolio{
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 50px;
        padding-right: 50px;
    
    }
    .text-block1{
        position: absolute;
        background-color: white;
        color: black;
        padding-left: 20px;
        padding-right: 20px;
        align-content: center;
        vertical-align: middle;
    }
    .text-block2{
        position: absolute;
        background-color: white;
        color: black;
        padding-left: 20px;
        padding-right: 20px;
        align-content: center;
        vertical-align: middle;
    }
    
    
    